// ===========blog header styles=============

// @import "variables";
// @import "mixins";

h2 {
    font-size: 3rem;
    line-height: 4.5rem;
    padding-top: 40px;
    padding-bottom: 10px;

    @include mq(470) {
        font-size: 3rem;
    }

    @include mq(415) {
        font-size: 2.4rem;
        line-height: 4rem;
    }
}

.blogHeader {

    // min-height: 430px;
    height: 83vh;
    background-image: url(../assets/blog-image.jpg);
    background-size: auto;
    background-position: -250px 0;
    position: relative;
    background-repeat: no-repeat;

    @include mq(1050) {
        // min-height: 208px;
        // max-height: 208px;
        // height: 208px;
        background-size: cover;
    }
    
    @include mq(880) {
        // min-height: 208px;
        // max-height: 208px;
        // height: 208px;
        background-position: 50% 0;
    }

    @include mq(480){
        background-position: 43% 0;
    }
 
    // @include mq(400) {
    //     background-position: -100px 0;
    // }

    // background: $white;

    .topBar {
        width: 80%;
        // position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    h1 {
        top: 40%;
        left: 10%;
        font-size: 5.6rem;
        position: absolute;

        @include mq(540) {
            top: unset;
            bottom: 40%;
        }

    }

}

.blogAside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-bottom: -141px;

    @include mq(700) {
        display: block;
    }

}

.blog {
    width: 60%;
    background: $white;
    // box-shadow: 5px 5px 0 0 red;
    position: relative;
    top: -143px;

    @include mq(700) {
        width: 100%;
        padding-bottom: 50px;
    }

    &::before {
        content: '';
        width: calc(100% + 5px);
        height: 5px;
        bottom: -5px;
        background: $brightYellow;
        // background-color: red;
        position: absolute;

        @include mq(550) {
            width: 100%;
        }
    }

    &::after {
        content: '';
        height: calc(100% - 30px);
        width: 5px;
        right: -5px;
        bottom: 0;
        background: $brightYellow;
        // background-color: red;
        position: absolute;

        @include mq(550) {
            right: 0;
        }
    }

    img {
        width: 100%;
    }


    .imageContainer {

        position: relative;
        background: transparent;

        &::before {
            content: '';
            width: calc(100% - 25px);
            height: 20px;
            bottom: -20px;
            right: -5px;
            background: $brightYellow;
            // background-color: red;
            position: absolute;
            // z-index: 10;

            @include mq(550) {
                width: 100%;
                right: 0;
            }
        }
    
        &::after {
            content: '';
            height: calc(100% - 30px);
            width: 20px;
            right: -5px;
            bottom: 0;
            background: $brightYellow;
            // background-color: red;
            position: absolute;
            // z-index: 10;

            @include mq(550) {
                right: 0;
            }
        }
    }

    p:not(:first-of-type) {
        padding-top: 20px;
    }
}

.blog .content {
    width: 75%;
    margin: 0 auto 0 17%;
    padding-bottom: 20px;

    @include mq(415) {
        width: 90%;
        margin: 0 auto;
    }
    // position: relative;

    
    
    // border: 1px solid tomato;
}

// aside * {
//     border: 1px solid tomato;
// }

aside {
    width: 22%;
    background-color: $brightYellow;
    position: relative;
    

    @include mq(700) {
        display: flex;
        width: 100%;
        top:-138px;
    }

    @include mq(550) {
        display: block;
        padding-top: 15px;
        
    }
    

    &::before {
        content: '';
        width: 15px;
        height: 97%;
        background-color: $brightYellow;
        position: absolute;
        left: -15px;
        bottom: 0;
    }

    // .content {
    //     @include mq(440) {
    //         width: 90%;
    //     }
    // }

    h4, p, li {
        padding-left: 10px;
    }

    h4 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p {
        padding-bottom: 0;
        width: 90%;

        // @include mq(440) {
        //     width: 100%;
        // }
    }

    p:first-of-type {
        padding-bottom: 5px;
    }

    p:last-of-type {
        padding-bottom: 10px;
    }

    ul {
        // list-style-type: initial;
        padding-left: 30px;
        padding-bottom: 25px;
        padding-top: 0;
        margin-top: -10px;

        @include mq(800) {
            padding-left: 15px;
        }

        @include mq(700) {
            padding-left: 30px;
        }
    
        li {
            list-style-type: initial;
            padding: 5px 0 0 0;
            
            @include mq(800) {
                width: 110px;    
            }

            @include mq(700) {
                width: initial;
            }
        }
    }

    .imageContainer {
        position: relative;
        border-top: 1px solid rgba(126, 124, 124, 0.5);

        @include mq(550) {
            height: 225px;
            border-top: none;
            overflow: hidden;

            img {
                height: 300px;
                width: unset;
                margin-top:-91px;
            }
        }
    }

    .imageContainer::before {
        content: '';
        width: 100%;
        height: 30%;
        background-color: rgb(232, 235, 236);
        position: absolute;
        top:0;

        @include mq(550) {
            display: none;
        }
    }

    .content {
        @include mq(700) {
            padding-left: 20px;
        }
    }
}

section.comments {

    width: 60%;
    padding-top:50px;

    @include mq(850) {
        width: 100%;
    }

    .wrapper {
        // width: 60%;
        margin-left: 17%;

        @include mq(850) {
            margin-left: 10%;
            margin-right: 10%;
        }

        @include mq(550) {
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    article {
        display:flex;
    }

    h3 {
        padding-bottom: 30px;
    }

    h6 {
        padding-bottom: 5px;
        line-height: 2.5rem;
    }

    p {
        @include mq(630) {
            padding-bottom: 20px;
        }
    }


    img:first-of-type {
        object-fit: contain;
        width: 80%;
        object-position: 0 0;

        @include mq(630) {
            display: none;
        }

    }

    article:nth-of-type(2) img {
        object-fit: contain;
        width: 51%;
        object-position: 0 0;

    }

    .content {
        padding-left: 30px;

        @include mq(630) {
            padding-left: 0;
        }
    }
}

form {

    padding-bottom: 80px;

    // * {
    //     border: 1px solid tomato;
    // }

    fieldset {

        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include mq(700) {
            display: block;
        }
    }

    label {
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
    }

    button[type="submit"] {
        width: 100%;

        @include mq(330) {
            font-size: 1.6rem;
        }

    }

    .formBox.name, .formBox.email {
        width: calc(50% - 15px);

        @include mq(700) {
            width: 100%;
        }
        
        label, input {
            display: block;
            width: 100%;
            padding-top: 20px;
            border: none;
        } 
        
        input {
            // padding-top: 20px;
            background-color: transparent;
            border-bottom: 2px solid $evergreen;
            font-size: 1.6rem;
            letter-spacing: 0.1rem;
            padding-left: 30px;
        }

        label {
            padding-left: 30px;
        }
    }

    .formBox.name {
        margin-right: 15px;
    
        @include mq(700) {
            margin-right: 0;
        }
    
    }

    .formBox.email {
        margin-left: 15px;

        @include mq(700) {
            margin-left: 0;
        }
    }


    .formBox.comment {
        width: 100%;
        border: 2px solid $evergreen;
        margin-top: 30px;

        label, textarea {
            display: block;
            width: 100%;
        }

        label {
            padding-top: 20px;
            padding-left: 30px;
        }

        textarea {
            background-color: transparent;
            padding-top: 30px;
            border: none;
        }
    }




}

    



