// ===========contact header styles==========

.contact {
    h1 {
    width: 500px;
    left: 10%;
    top: 130px;

        @include mq(960) {
            font-size: 4.6rem;
        }

        @include mq(830) {
            top: 120px;
        }

        @include mq(700) {
            top: 100px;
            width: 200px;
        }
    }

    .outerWrapper {
        position: relative;
    }

    .topWrapper {
        width: 80%;
        // max-width: 1280px;
        // margin: 0 auto;
        position: absolute;
        top:0;
        left: 10%;
    }

    ul {
        position: relative;
        right: -30px;
    }

    h5 {
        position: unset;
    }

    // added extra specificity to override .navigation styles set in styles.scss

    .topWrapper .navigation.contactNav {
        top: 20px;
        right: 0;

        // This media query is added to take position absolute off of the .navigation element so that the hamburger is no longer positioned relative to the nav and is instead positioned relative to the body.
        @include mq(1050) {
            position: unset;
        }
    }

    .hamburger {
        top:5px;
        right: -10%;
    }

    img {
        max-height: 455px;
        min-height:300px;
        object-fit: cover;

        @include mq(615) {
            object-position: -228px;
        }
    }
}

.commentBottomLeft {
    width: 70%;
    margin-bottom: -30px;

    form {
        width: 100%;
        background: $white;
        box-shadow: 20px 20px 0 -5px $brightYellow;
        position: relative;
        top: -120px;
        left: 20px;
        padding-bottom: 40px;
    }
}

.contactBottom .wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .formContents {
        width: 90%;
        margin: 0 auto;
    }

    button {
        margin-top: 40px;
    }
}

.commentBottomRight {
    padding-left: 11%; 
    
    ul {
        display: flex;
        margin-top: 70px;
        padding-left: 0;
        position: relative;
        left: -12px;
    }

    a {
        font-size: 2rem;
        color: $evergreen;
        padding: 9px;

        &:hover {
            color: $black;
        }
    }


    p.email {
        margin: 15px 0;
    }

    p {
        padding-bottom: 0;
        line-height: 2.5rem;
    }
}

