a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h2 {
  font-size: 3rem;
  line-height: 4.5rem;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media (max-width: 470px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 415px) {
  h2 {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

.blogHeader {
  height: 83vh;
  max-height: 568px;
  background-image: url(../assets/blog-image.jpg);
  background-size: auto;
  background-position: -250px 0;
  position: relative;
  background-repeat: no-repeat;
}

@media (max-width: 1050px) {
  .blogHeader {
    background-size: cover;
  }
}

@media (max-width: 880px) {
  .blogHeader {
    background-position: 50% 0;
  }
}

@media (max-width: 480px) {
  .blogHeader {
    background-position: 43% 0;
  }
}

.blogHeader .topBar {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogHeader h1 {
  top: 40%;
  left: 10%;
  font-size: 5.6rem;
  position: absolute;
}

@media (max-width: 540px) {
  .blogHeader h1 {
    top: unset;
    bottom: 40%;
  }
}

.blogAside.outerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: -141px;
}

@media (max-width: 700px) {
  .blogAside.outerWrapper {
    display: block;
  }
}

.blog {
  width: 60%;
  background: #f5f5f5;
  position: relative;
  top: -143px;
}

@media (max-width: 700px) {
  .blog {
    width: 100%;
    padding-bottom: 50px;
  }
}

.blog::before {
  content: '';
  width: calc(100% + 5px);
  height: 5px;
  bottom: -5px;
  background: #f8fb05;
  position: absolute;
}

@media (max-width: 550px) {
  .blog::before {
    width: 100%;
  }
}

.blog::after {
  content: '';
  height: calc(100% - 30px);
  width: 5px;
  right: -5px;
  bottom: 0;
  background: #f8fb05;
  position: absolute;
}

@media (max-width: 550px) {
  .blog::after {
    right: 0;
  }
}

.blog img {
  width: 100%;
}

.blog .imageContainer {
  position: relative;
  background: transparent;
}

.blog .imageContainer::before {
  content: '';
  width: calc(100% - 25px);
  height: 20px;
  bottom: -20px;
  right: -5px;
  background: #f8fb05;
  position: absolute;
}

@media (max-width: 550px) {
  .blog .imageContainer::before {
    width: 100%;
    right: 0;
  }
}

.blog .imageContainer::after {
  content: '';
  height: calc(100% - 30px);
  width: 20px;
  right: -5px;
  bottom: 0;
  background: #f8fb05;
  position: absolute;
}

@media (max-width: 550px) {
  .blog .imageContainer::after {
    right: 0;
  }
}

.blog p:not(:first-of-type) {
  padding-top: 20px;
}

.blog .content {
  width: 75%;
  margin: 0 auto 0 17%;
  padding-bottom: 20px;
}

@media (max-width: 415px) {
  .blog .content {
    width: 90%;
    margin: 0 auto;
  }
}

aside {
  width: 22%;
  background-color: #f8fb05;
  position: relative;
}

@media (max-width: 700px) {
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    top: -138px;
  }
}

@media (max-width: 550px) {
  aside {
    display: block;
    padding-top: 15px;
  }
}

aside::before {
  content: '';
  width: 15px;
  height: 97%;
  background-color: #f8fb05;
  position: absolute;
  left: -15px;
  bottom: 0;
}

aside h4, aside p, aside li {
  padding-left: 10px;
}

aside h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

aside p {
  padding-bottom: 0;
  width: 90%;
}

aside p:first-of-type {
  padding-bottom: 5px;
}

aside p:last-of-type {
  padding-bottom: 10px;
}

aside ul {
  padding-left: 30px;
  padding-bottom: 25px;
  padding-top: 0;
  margin-top: -10px;
}

@media (max-width: 800px) {
  aside ul {
    padding-left: 15px;
  }
}

@media (max-width: 700px) {
  aside ul {
    padding-left: 30px;
  }
}

aside ul li {
  list-style-type: initial;
  padding: 5px 0 0 0;
}

@media (max-width: 800px) {
  aside ul li {
    width: 110px;
  }
}

@media (max-width: 700px) {
  aside ul li {
    width: initial;
  }
}

aside .imageContainer {
  position: relative;
  border-top: 1px solid rgba(126, 124, 124, 0.5);
}

@media (max-width: 550px) {
  aside .imageContainer {
    height: 225px;
    border-top: none;
    overflow: hidden;
  }
  aside .imageContainer img {
    height: 300px;
    width: unset;
    margin-top: -91px;
  }
}

aside .imageContainer::before {
  content: '';
  width: 100%;
  height: 30%;
  background-color: #e8ebec;
  position: absolute;
  top: 0;
}

@media (max-width: 550px) {
  aside .imageContainer::before {
    display: none;
  }
}

@media (max-width: 700px) {
  aside .content {
    padding-left: 20px;
  }
}

section.comments {
  width: 60%;
  padding-top: 50px;
}

@media (max-width: 850px) {
  section.comments {
    width: 100%;
  }
}

section.comments .wrapper {
  margin-left: 17%;
}

@media (max-width: 850px) {
  section.comments .wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 550px) {
  section.comments .wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
}

section.comments article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.comments h3 {
  padding-bottom: 30px;
}

section.comments h6 {
  padding-bottom: 5px;
  line-height: 2.5rem;
}

@media (max-width: 630px) {
  section.comments p {
    padding-bottom: 20px;
  }
}

section.comments img:first-of-type {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  -o-object-position: 0 0;
     object-position: 0 0;
}

@media (max-width: 630px) {
  section.comments img:first-of-type {
    display: none;
  }
}

section.comments article:nth-of-type(2) img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 51%;
  -o-object-position: 0 0;
     object-position: 0 0;
}

section.comments .content {
  padding-left: 30px;
}

@media (max-width: 630px) {
  section.comments .content {
    padding-left: 0;
  }
}

form {
  padding-bottom: 80px;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 700px) {
  form fieldset {
    display: block;
  }
}

form label {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

form button[type="submit"] {
  width: 100%;
}

@media (max-width: 330px) {
  form button[type="submit"] {
    font-size: 1.6rem;
  }
}

form .formBox.name, form .formBox.email {
  width: calc(50% - 15px);
}

@media (max-width: 700px) {
  form .formBox.name, form .formBox.email {
    width: 100%;
  }
}

form .formBox.name label, form .formBox.name input, form .formBox.email label, form .formBox.email input {
  display: block;
  width: 100%;
  padding-top: 20px;
  border: none;
}

form .formBox.name input, form .formBox.email input {
  background-color: transparent;
  border-bottom: 2px solid #065635;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  padding-left: 30px;
}

form .formBox.name label, form .formBox.email label {
  padding-left: 30px;
}

form .formBox.name {
  margin-right: 15px;
}

@media (max-width: 700px) {
  form .formBox.name {
    margin-right: 0;
  }
}

form .formBox.email {
  margin-left: 15px;
}

@media (max-width: 700px) {
  form .formBox.email {
    margin-left: 0;
  }
}

form .formBox.comment {
  width: 100%;
  border: 2px solid #065635;
  margin-top: 30px;
}

form .formBox.comment label, form .formBox.comment textarea {
  display: block;
  width: 100%;
}

form .formBox.comment label {
  padding-top: 20px;
  padding-left: 30px;
}

form .formBox.comment textarea {
  background-color: transparent;
  padding-top: 30px;
  border: none;
  padding-left: 30px;
}

html {
  font-size: 62.5%;
  background-color: #cfcccc;
}

.allCaps {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.ital {
  font-style: italic;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transparent {
  opacity: 0;
}

.navigation .visible {
  right: 0;
}

.headerExit.block {
  display: block;
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 10px;
}

.outerWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.comments.outerWrapper {
  margin-left: 0;
}

button {
  border: none;
  background: transparent;
}

a.skipLink {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

a {
  text-decoration: none;
  color: #151514;
}

a.button, button[type="submit"] {
  color: #f5f5f5;
  background: #065635;
  padding: 12px 16px 5px;
  border: 2px solid #065635;
  font-size: 1.8rem;
  line-height: -1rem;
  margin-top: 10px;
}

a.button:hover, button[type="submit"]:hover {
  background: transparent;
  color: #065635;
}

h1 {
  text-transform: uppercase;
  font-family: 'Kumar One Outline', cursive;
  font-size: 5.6rem;
  position: absolute;
  top: 10%;
  left: 18%;
  width: 400px;
}

@media (max-width: 830px) {
  h1 {
    font-size: 3rem;
    width: 100px;
    top: 30px;
    font-size: 4rem;
  }
}

@media (max-width: 625px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  h1 {
    left: 30px;
  }
}

h2, h3, h4, h5, a, label, button {
  text-transform: uppercase;
  font-family: 'Kumar One', cursive;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 2.6rem;
  line-height: 5.2rem;
}

@media (max-width: 1120px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.8rem;
}

h5 {
  padding-top: 20px;
  width: 100px;
  font-size: 1.6rem;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

p, aside li, textarea, .headerExit {
  font-family: 'Lato', sans-serif;
  line-height: 2.5rem;
  font-size: 1.6rem;
  padding-bottom: 15px;
  letter-spacing: 0.1rem;
}

.headerExit {
  font-size: 2.8rem;
  display: none;
}

body {
  background: #e0fddf;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.justifyLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header.home {
  position: relative;
}

@media (max-width: 480px) {
  header.home > img {
    width: 600px;
    -webkit-transform: translateX(-22%);
            transform: translateX(-22%);
  }
}

@media (max-width: 440px) {
  header.home > img {
    width: 600px;
    -webkit-transform: translateX(-29%);
            transform: translateX(-29%);
  }
}

@media (max-width: 380px) {
  header.home > img {
    width: 600px;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
}

header.home .imageContainer {
  width: 55%;
  position: absolute;
  bottom: -21%;
}

@media (max-width: 625px) {
  header.home .imageContainer {
    display: none;
  }
}

header .navigation {
  position: absolute;
  top: 3%;
  right: 5%;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 280px;
    height: 320px;
    position: absolute;
    background: rgba(133, 133, 133, 0.8);
    padding: 0 5px;
    top: 0;
    right: -5000px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.navigation ul li {
  padding: 0;
  position: relative;
}

@media (max-width: 1050px) {
  .navigation ul li {
    padding: 15px 15px;
    list-style: none;
    position: relative;
  }
  .navigation ul li:after {
    content: '';
    width: 66%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 17%;
    right: 17%;
    top: 100%;
  }
}

.navigation ul a {
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.navigation ul a::after {
  content: '';
  height: 2px;
  background: #f8fb05;
  width: 75%;
  position: absolute;
  bottom: -5px;
  right: 13%;
  display: none;
}

.navigation ul a:hover::after {
  display: unset;
}

.hamburger {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #151514;
  font-size: 3.4rem;
}

@media (max-width: 1050px) {
  .hamburger {
    display: block;
  }
}

.hamburger i {
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

@media (max-width: 500px) {
  .hamburger i {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.about {
  background: #f5f5f5;
}

@media (max-width: 825px) {
  .about {
    background: #e6e4e4;
  }
}

.about .wrapper {
  width: 80%;
  padding-top: 180px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 825px) {
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 100%;
  }
}

.about .leftSide {
  width: 60%;
}

@media (max-width: 825px) {
  .about .leftSide {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    background: #f5f5f5;
    padding: 50px 0;
  }
}

.about .rightSide {
  width: 40%;
}

@media (max-width: 825px) {
  .about .rightSide {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

.about .justifyLeft {
  width: 100%;
}

@media (max-width: 825px) {
  .about .justifyLeft {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  .about .justifyLeft {
    width: 85%;
  }
}

.about .imageContainer {
  width: 55%;
  margin: 0 auto;
  -webkit-box-shadow: -15px 15px #f8fb05;
          box-shadow: -15px 15px #f8fb05;
}

@media (max-width: 860px) {
  .about .imageContainer {
    width: 90%;
    margin: 0 -40px 0 auto;
  }
}

@media (max-width: 825px) {
  .about .imageContainer {
    width: 50%;
    margin: 30px auto;
  }
}

@media (max-width: 1120px) {
  .about h3 {
    font-size: 2.1rem;
  }
}

@media (max-width: 926px) {
  .about h3 {
    line-height: 2.8rem;
  }
}

@media (max-width: 825px) {
  .about h3 {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 625px) {
  .about h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 540px) {
  .about h3 {
    width: 100%;
  }
}

@media (max-width: 395px) {
  .about h3 {
    line-height: 3rem;
    padding-bottom: 10px;
  }
}

@media (max-width: 825px) {
  .about a {
    margin: 0 auto;
  }
}

@media (max-width: 625px) {
  .about a {
    font-size: 1.8rem;
  }
}

.gallery ul {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

@media (max-width: 625px) {
  .gallery ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding: 40px 0;
  }
}

.gallery li {
  width: calc((100% - 40px) / 3);
}

@media (max-width: 625px) {
  .gallery li {
    width: 100%;
  }
}

.gallery li:nth-child(2) {
  margin: 0 20px;
}

@media (max-width: 625px) {
  .gallery li:nth-child(2) {
    display: none;
  }
}

.resources {
  background: #f5f5f5;
}

.resources .wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.resources .bullet {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resources i {
  font-size: 2rem;
  background: #f8fb05;
  border-radius: 50%;
  height: 40px;
}

.resources .bullet1 i {
  padding-top: 8px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

.resources .bullet2 i {
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.resources .bullet3 i {
  padding-top: 8px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.resources .bullet4 i {
  padding-top: 8px;
  padding-bottom: 15px;
  padding-left: 9px;
  padding-right: 9px;
}

.resources a {
  display: block;
}

.resources .copy {
  padding: 0 15px;
}

@media (max-width: 890px) {
  .resources h3 {
    line-height: 2.8rem;
  }
}

@media (max-width: 715px) {
  .resources .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resources .bullet {
    width: 100%;
    padding-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .resources .wrapper {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .resources h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 330px) {
  .resources h3 {
    font-size: 1.7rem;
  }
}

.moreInfo a {
  display: inline-block;
}

.moreInfo .imageContainer, .moreInfo .justifyRight, .moreInfo .justifyLeft {
  width: 50%;
}

.moreInfo .imageContainer {
  position: relative;
}

.moreInfo .justifyRight {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.moreInfo .justifyRight .container {
  width: 80%;
  padding-top: 30px;
  padding-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moreInfo .justifyRight p {
  text-align: right;
}

.moreInfo .justifyLeft .container {
  width: 80%;
  padding-left: 15%;
  padding-top: 50px;
}

@media (max-width: 1010px) {
  .moreInfo h3 {
    font-size: 1.8rem;
  }
  .moreInfo .topStrip .container, .moreInfo .middleStrip .container {
    padding-top: 20px;
    width: 90%;
  }
}

@media (max-width: 851px) {
  .moreInfo .topStrip {
    margin-bottom: 30px;
  }
  .moreInfo .topStrip img, .moreInfo .middleStrip img {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    padding-top: 40px;
  }
  .moreInfo a {
    font-size: 1.6rem;
    padding: 14px 14px 6px;
  }
}

@media (max-width: 690px) {
  .moreInfo h3 {
    line-height: 4rem;
  }
  .moreInfo .topStrip .container {
    padding-top: 20px;
  }
  .moreInfo .topStrip, .moreInfo .middleStrip {
    display: block;
  }
  .moreInfo .imageContainer {
    width: 100%;
    padding-top: 0;
  }
  .moreInfo .imageContainer img {
    padding-top: 0;
  }
  .moreInfo .justifyLeft, .moreInfo .justifyRight {
    width: 100%;
    text-align: center;
  }
  .moreInfo .justifyLeft .container, .moreInfo .justifyRight .container {
    display: block;
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
  }
  .moreInfo .justifyLeft p, .moreInfo .justifyRight p {
    text-align: center;
  }
}

.topStrip, .middleStrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.topStrip img, .middleStrip img {
  width: 80%;
}

.topStrip img {
  -webkit-box-shadow: 20px 20px 0 -5px #f8fb05;
          box-shadow: 20px 20px 0 -5px #f8fb05;
  position: absolute;
  top: -25px;
}

.middleStrip {
  margin-bottom: 50px;
}

@media (max-width: 1010px) {
  .middleStrip .container {
    padding: 0;
  }
}

.middleStrip img {
  width: 85%;
  position: absolute;
  right: 0;
  -webkit-box-shadow: -20px 20px 0 -5px #f8fb05;
          box-shadow: -20px 20px 0 -5px #f8fb05;
}

.search {
  background: #f5f5f5;
}

.search .justifyCenter {
  width: 80%;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}

@media (max-width: 820px) {
  .search .justifyCenter {
    padding: 60px 0;
  }
}

@media (max-width: 690px) {
  .search .justifyCenter {
    width: 90%;
  }
}

.search p {
  padding-bottom: 40px;
}

footer {
  background: #151514;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  padding: 0;
  display: inline-block;
  line-height: 4.2rem;
}

header.blog {
  background-image: url(../assets/blog-image.jpg);
  background-size: cover;
}

.contact h1 {
  width: 500px;
  left: 10%;
  top: 130px;
}

@media (max-width: 960px) {
  .contact h1 {
    font-size: 4.6rem;
  }
}

@media (max-width: 830px) {
  .contact h1 {
    top: 120px;
  }
}

@media (max-width: 700px) {
  .contact h1 {
    top: 100px;
    width: 200px;
  }
}

@media (max-width: 440px) {
  .contact h1 {
    font-size: 4rem;
    top: 120px;
  }
}

@media (max-width: 340px) {
  .contact h1 {
    width: 50px;
    top: 150px;
  }
}

.contact .headerExit {
  right: -8%;
  top: 40px;
}

.contact .outerWrapper {
  position: relative;
}

.contact .topWrapper {
  width: 80%;
  position: absolute;
  top: 0;
  left: 10%;
}

.contact ul {
  position: relative;
  right: 0;
}

@media (max-width: 1050px) {
  .contact ul {
    right: -5000px;
  }
}

.contact ul.visible {
  right: -75%;
  top: -30px;
}

.contact h5 {
  position: unset;
}

.contact .topWrapper .navigation {
  top: 20px;
  right: 0;
}

@media (max-width: 1050px) {
  .contact .topWrapper .navigation {
    position: unset;
  }
}

.contact .hamburger {
  top: 5px;
  right: -10%;
}

.contact img {
  max-height: 455px;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 615px) {
  .contact img {
    -o-object-position: -228px;
       object-position: -228px;
  }
}

@media (max-width: 440px) {
  .contact img {
    -o-object-position: -300px;
       object-position: -300px;
  }
}

@media (max-width: 340px) {
  .contact img {
    -o-object-position: -340px;
       object-position: -340px;
  }
}

.contactBottom .wrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 760px) {
  .contactBottom .wrapper {
    display: block;
  }
}

@media (max-width: 520px) {
  .contactBottom .wrapper {
    width: 100%;
  }
}

.contactBottom .wrapper .formContents {
  width: 90%;
  margin: 0 auto;
}

.contactBottom .wrapper button {
  margin-top: 40px;
}

.commentBottomLeft {
  width: 70%;
  margin-bottom: -30px;
}

@media (max-width: 870px) {
  .commentBottomLeft {
    margin-bottom: 80px;
  }
}

@media (max-width: 760px) {
  .commentBottomLeft {
    width: 100%;
  }
}

.commentBottomLeft form {
  width: 100%;
  background: #f5f5f5;
  -webkit-box-shadow: 20px 20px 0 -5px #f8fb05;
          box-shadow: 20px 20px 0 -5px #f8fb05;
  position: relative;
  top: -120px;
  left: 20px;
  padding-bottom: 40px;
}

@media (max-width: 870px) {
  .commentBottomLeft form {
    position: static;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 520px) {
  .commentBottomLeft form {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 15px solid #f8fb05;
  }
}

@media (max-width: 870px) {
  .commentBottomLeft fieldset {
    display: block;
  }
}

@media (max-width: 870px) {
  .commentBottomLeft .formBox.name, .commentBottomLeft .formBox.email {
    width: 100%;
  }
}

@media (max-width: 870px) {
  .commentBottomLeft .formBox.name {
    margin-right: 0;
  }
}

@media (max-width: 870px) {
  .commentBottomLeft .formBox.email {
    margin-left: 0;
  }
}

.commentBottomRight {
  padding-left: 11%;
  padding-bottom: 50px;
}

@media (max-width: 760px) {
  .commentBottomRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .commentBottomRight {
    display: block;
    padding-bottom: 70px;
  }
}

.commentBottomRight nav {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.commentBottomRight ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  padding-left: 0;
  position: relative;
  left: -12px;
}

@media (max-width: 760px) {
  .commentBottomRight ul {
    margin-top: 0;
    margin: 0 auto;
    width: 200px;
    -webkit-transform: translateX(12%);
            transform: translateX(12%);
  }
}

@media (max-width: 600px) {
  .commentBottomRight ul {
    margin: 0 auto;
    width: 200px;
  }
}

.commentBottomRight li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.commentBottomRight a {
  font-size: 2rem;
  color: #065635;
  padding: 9px;
}

.commentBottomRight a:hover {
  color: #151514;
}

.commentBottomRight p.email {
  margin: 15px 0;
}

@media (max-width: 760px) {
  .commentBottomRight p.email {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    margin-top: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .commentBottomRight p.email {
    padding-top: 20px;
  }
}

@media (max-width: 760px) {
  .commentBottomRight .phoneAddress {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .commentBottomRight .phoneAddress {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.commentBottomRight p {
  padding-bottom: 0;
  line-height: 2.5rem;
}
